<section class="text-gray-600 body-font">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">About Us</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Blogging2Nite is a free blogging site that allows you to write and publish posts.
</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-2 lg:w-1/3 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900">Alex Ly<br><br></h2>
            <span class="inline-flex">
              <a class="text-gray-500">
                <a href="https://github.com/"
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900">Christina Agu<br><br></h2>
            <span class="inline-flex">
              <a class="text-gray-500">
                <a href="https://github.com/"
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/202x202">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900">Kevin La<br><br></h2>
            <span class="inline-flex">
              <a class="text-gray-500">
                <a href="https://github.com/"
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>