<header class="text-gray-600 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
        <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
      </svg>
      <span class="ml-3 text-xl">Blogging2Nite</span>
    </a>
    <nav class="md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400	flex flex-wrap items-center text-base justify-center">
      <a class="mr-5 hover:text-gray-900" href="/">Home</a>
      <a class="mr-5 hover:text-gray-900" href="/about">About us</a>
        {{#if currentUser}}
            <a href="/user/logout">Logout</a>
        {{/if}}
    </nav>
  </div>
</header>



<section class="text-gray-600 body-font">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-20">
      <h1 class="text-2xl font-medium title-font mb-4 text-gray-900">About Us</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Blogging2Nite is a free blogging site that allows you to write and publish posts.
</p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="p-2 lg:w-1/3 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/200x200">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900">Alex Ly<br><br></h2>
            <span class="inline-flex">
              <a class="text-gray-500">
                <a href="https://github.com/Alexlychee" target="_blank"
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/201x201">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900">Christina Agu<br><br></h2>
            <span class="inline-flex">
              <a class="text-gray-500">
                <a href="https://github.com/cagu2000" target="_blank"
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="p-2 lg:w-1/3 md:w-1/2">
        <div class="h-full flex flex-col items-center text-center">
          <img alt="team" class="flex-shrink-0 rounded-lg w-full h-56 object-cover object-center mb-4" src="https://dummyimage.com/202x202">
          <div class="w-full">
            <h2 class="title-font font-medium text-lg text-gray-900">Kevin La<br><br></h2>
            <span class="inline-flex">
              <a class="text-gray-500">
                <a href="https://github.com/Kevinla56" target="_blank"
                    <i class="fa fa-github" style="font-size:24px"></i>
                </a>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>